/* サクッとスタイルを決めていく */
html, body {
	font-family: "Source Han Sans JP Medium";
	font-size: 10px;
	width: 100%; height: 100%;margin: 0;padding: 0;
	background: #fff;
}

#buttons {
	position: fixed;
	top: 0;
	opacity: 0.5;
	width: 100%;
	font-size: 1.2rem;
	background: white;
	&:hover {
		opacity: 1;
	}

	& .btn {
		font-size: 1.4rem;
		color: royalblue;
		background: transparent;
		border: solid 2px royalblue;
		border-radius: 4px;
		margin-right: 4px;

		transition: color, background;
		transition-delay: 250ms;
		transition-duration: 500ms;

		&.btn_on {
			background: red;
		}

		&:hover {
			color: #ffffff;
			background: royalblue;
		}
	}
}

#countdown {
	font-size: 1.4rem;

	& > .playTimer {
		&::after {content: ' Auto Reload';}
	}

	& > .pauseTimer {
		color: royalblue;
		&::after {content: ' Pause';}
	}
}

#jumpList {
	position: fixed;
	top: 2rem;

	overflow-y: scroll;

	& .jumpItem {
		padding-top: 0.4rem;
		white-space: pre;

		&:nth-child(odd) {
			background: #dfdfdf;
		}
	}

}

.tagItem() {
	margin-right: 4px;
	padding: 0 4px;
	border-radius: 4px;
}

article {
	font-size: 1.4rem;
	margin-top: 1rem;
	padding :  1rem;
	border-bottom: solid 2px silver;

	& h3 {
		font-size: 1.6rem;
	}
	.markNG {
		font-size : 1.6rem;
		font-weight: 900;
		margin: 2px;
		color: #ffffff;
		background: #ff0000;
		border: none;
		border-radius: 4px;
		&:hover {
			@color : lighten(#ff0000, 10%);
			color: contrast(@color);
			background: @color;
		}
	}
	.ngReason {
		font-size: 1.4rem;
		color : #ffffff;
		background: #ff0000;
		.tagItem()
	}
	.tags > span {
		color: #ffffff;
		background: darken(green, 10%);
		.tagItem()
	}
	.itemBody {
		max-height: 300px;
		overflow-y: auto;
		border: 1px solid royalblue;
	}
}

::-webkit-scrollbar{
	width:4px;
	height:4px;
}
::-webkit-scrollbar-track{
	border-radius:10px;
	box-shadow:inset 0 0 5px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb{
	background:#666;
	border-radius:10px;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.3);
}

@import 'grid';
